<h1>Informacion</h1>

<h3>Desarrollo de Aplicaciones Web</h3>
<h4>Investigación y presentación de herramientas de programación web</h4>

<br>

<table>
  <thead>
    <tr>
      <th colspan="2">Equipo 8 - Ruby on Rails</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>Adrián Lozano</td>
        <td>A00812725</td>
      </tr>
      <tr>
        <td>Patricio Beltrán</td>
        <td>A01175557</td>
      </tr>
      <tr>
        <td>Iliana García</td>
        <td>A01191428</td>
      </tr>
  </tbody>
</table>